/* General Demo Style */
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,600&subset=latin,latin-ext);

*,
*:after,
*:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;

	padding: 0;
	margin: 0;
}

/* Clearfix hack by Nicolas Gallagher: http://nicolasgallagher.com/micro-clearfix-hack/ */
.clearfix:before,
.clearfix:after {
	content: " "; /* 1 */
	display: table; /* 2 */
}

.clearfix:after {
	clear: both;
}

.clearfix {
	*zoom: 1;
}

body {
	font-family: 'Lato', Calibri, Arial, sans-serif;
	background:#e4ebe9 url(../images/white_texture.png) repeat top left;
	font-weight: 300;
	font-size: 15px;
	
	overflow-y: scroll;
	overflow-x: hidden;
}


a {
	color: #555;
	text-decoration: none;
}

.container {
	margin-top: 10px;
	width: 100%;
	position: relative;
}

.clr {
	clear: both;
	padding: 0;
	height: 0;
	margin: 0;
}

.container > header,
.main {
	width: 100%;
	max-width: 1280px;
	margin: 0 auto;
	padding: 0 20px;
}

.container > header {
	padding: 0px 5px 0px 5px;
}

.container > header h1 {
	font-size: 18px;
	margin: 0;
	font-weight: 700;
	color: #666;
	float: left;
	text-shadow: 0 0 1px rgba(0,0,0,0.2);
	display: inline-block;
	width: 80%;
	min-width: 320px;
}

.container > header h1 span {
	display: block;
	font-size: 15px;
	font-weight: 300;
}

/* Header Style */
.codrops-top {
	line-height: 24px;
	font-size: 11px;
	background: #fff;
	background: rgba(255, 255, 255, 0.5);
	text-transform: uppercase;
	z-index: 9999;
	position: relative;
	box-shadow: 1px 0px 2px rgba(0,0,0,0.2);
}

.codrops-top a {
	padding: 0px 10px;
	letter-spacing: 1px;
	color: #333;
	display: inline-block;
}

.codrops-top a:hover {
	background: rgba(255,255,255,0.8);
	color: #000;
}

.codrops-top span.right {
	float: right;
}

.codrops-top span.right a {
	float: left;
	display: block;
}

/* Demo Buttons Style */
.codrops-demos {
	display: inline-block;
	padding-top: 5px;
	text-align: center;
	width: 100%;
	min-width: 320px;
}

.codrops-demos a {
	display: inline-block;
	margin: 10px 20px 0 0;
	color: #666;
	font-weight: 700;
	padding-bottom: 5px;
	border-bottom: 4px solid transparent;
}

.codrops-demos a:last-child {
	margin-right: 0px;
}

.codrops-demos a:hover {
	color: #000;
	border-color: #000;
}

.codrops-demos a.current-demo,
.codrops-demos a.current-demo:hover {
	color: #aaa;
	border-color: #aaa;
}

.support-note {
	clear: both;
}

.support-note span{
	color: #ac375d;
	font-size: 16px;
	display: none;
	padding: 20px;
	font-weight: bold;
	text-align: center;
}

@media screen and (max-width: 640px){
	.codrops-demos { text-align: left;}
}
//details
@import url('reset.css');

/* General Demo Style */
body{
	background:#e4ebe9 url(../images/white_texture.png) repeat top left;
	color:#000;
	font-size: 26px;
font-family: "Yu Gothic", SimHei,'PT Sans Narrow', Arial, sans-serif;
	font-size:13px;
	min-height:800px;
	padding-left: 20%;
	padding-right: 10%; 
	{ font-style:normal}
}
a{
	color:#000;
	text-decoration:none;
}
.clr{
	clear:both;
}
.wrapper{
	width:80%;
	margin:20px 40px auto;
}
h1, h2, h5{
	margin:20px 20px 10px 20px;
	color:#5c8aa1;
	
	font-size: 36px;
font-family: "Yu Gothic", SimHei,'PT Serif Caption', Georgia, serif;
	text-align:left;
	font-weight:700;
	text-shadow:1px 1px 3px #cacfd1;
    text-align:center;
}
h1 span, h5, .content p{
	font-size:18px;
	display:block;
	color:#5c8aa1;
	font-weight:400;
    font-style:normal;
	padding-top:5px;
	text-shadow:0px 1px 1px #fff;
}
.line{
	background-color:#aec2cc;
	border-bottom:1px solid #fff;
	height:1px;
	width:500px;
	margin:20px auto;
}
.information{
	margin-top: 50px;
}
.content{
	width:450px;
	float:right;
	font-family: font-size: 26px;
   font-family: "Yu Gothic", SimHei,'PT Serif Caption', Georgia, serif;
}
.content p{
	padding:5px 0px;
	color:#8899a2;
	font-size:16px;
	
}
.subheader{
	float:left;
    overflow: auto;
    display: block;
    margin-top: 40px;
    margin-bottom: 10px;
	color:#8899a2;
	font-size:20px;
	margin-right: 50px;

}
/* Header Style */
.header{
	height:25px;
	line-height:24px;
	font-size:13px;
	background:#000;
	opacity:0.9;
	text-transform:uppercase;
	z-index:4;
	-moz-box-shadow:1px 0px 2px #000;
	-webkit-box-shadow:1px 0px 2px #000;
	box-shadow:1px 0px 2px #000;
}
.header a{
	padding:5px 10px;
	letter-spacing:1px;
	color:#ddd;
	text-align:right;
}
.header a:hover{
	color:#fff;
}
.header a span{
	font-weight:bold;
}
.header span.right_ab{
	position:absolute;
	right:4px;
}
.more{

font-family: "Yu Gothic", SimHei,'PT Serif Caption', Georgia, serif;
	position:relative;
    font-style:italic;
	clear:both;
}
.more ul{
	display:block;
	height:32px;
	text-align:center;
}
.more ul li{
	display:inline;
	padding:2px;
}
.more ul li.selected a,
.more ul li.selected a:hover{
	background:#5c8aa1;
	color:#fff;
	text-shadow:none;
}
.more ul li a{
	text-shadow:1px 1px 1px #fff;
	color:#555;
	background:#fbf9f5;
	padding:3px 6px;
	-moz-box-shadow:1px 1px 2px #aaa;
	-webkit-box-shadow:1px 1px 2px #aaa;
	box-shadow:1px 1px 2px #aaa;
}
.more ul li a:hover{
	background:#79a1b5;
	color:#fff;
	text-shadow:none;
}
