@font-face {
	font-family: 'icomoon';
	
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

*, *::after, *::before { -webkit-box-sizing: border-box; box-sizing: border-box; }

body {
	font-family: "Microsoft YaHei",'Roboto Mono', monospace;
	color: #1b3050;
	background: #f9f0d0;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

a {
	text-decoration: none;
	color: #8bc34a;
	outline: none;
}

a:hover,
a:focus {
	color: #fff;
}

.hidden {
	position: absolute;
	overflow: hidden;
	width: 0;
	height: 0;
	pointer-events: none;
}
/* Icons */
.icon {
	display: block;
	width: 1.5em;
	height: 1.5em;
	margin: 0 auto;
	fill: currentColor;
}
/* Content */
.content {
	padding: 3em 0;
}

.section {
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: column;
	flex-direction: column;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-align-items: center;
	align-items: center;
}

.section--nav {
	position: relative;
	overflow: hidden;
	-webkit-flex-direction: row-reverse;
	flex-direction: row-reverse;
}

.section__title {
	font-size: 0.65em;
	font-weight: 700;
	-webkit-flex: none;
	flex: none;
	margin: 3em 0 15em;
	text-indent: 3px;
	letter-spacing: 3px;
	text-transform: uppercase;
	color: #d1d1d1;
}

.section.section--intro {
	font-size: 1.6em;
	position: relative;
	min-height: 100vh;
	text-align: center;
	color: #fff;
	background: #333;
}

.section--intro p {
	max-width: 1000px;
	margin: 0 auto;
	padding: 1em;
}
.link-copy2 {
	content: '走失者档案列表';
	font-family: 'Roboto Condensed', sans-serif;
	text-transform: uppercase;
	letter-spacing: 3px;
	font-size: 1.25em;
	line-height: 1.75;
	font-weight: bold;
	color: currentColor;

	position: absolute;
	top: 2em;
	right: 2em;
	width: 50px;
	height: 50px;
	z-index: 100;
	cursor: pointer;
	background: url(../img/search.svg) no-repeat center center;
	background-size: cover;
}

.link-copy2::after {
	content: '走失者档案列表';
	font-family: 'Roboto Condensed', sans-serif;
	text-transform: uppercase;
	letter-spacing: 3px;
	font-size: 1.25em;
	line-height: 1.75;
	font-weight: bold;
	position: absolute;
	right: 100%;
	margin: 0 1em 0 0;
	white-space: nowrap;
	pointer-events: none;
	opacity: 1;
	color: currentColor;
	-webkit-transform: translate3d(10px, 0, 0);
	transform: translate3d(10px, 0, 0);
	-webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
	transition: transform 0.3s, opacity 0.3s;
}

.link-copy2:hover::after {
	opacity: 1;
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}

.link-copy2::before {
	content: '';
	position: absolute;
	top: 50%;
	left: 50%;
	width: 50px;
	height: 50px;
	margin: -25px 0 0 -25px;
	opacity: 0;
	border-radius: 50%;
	background: currentColor;
}

.link-copy2--animate::before {
	-webkit-animation: pulse 0.3s;
	animation: pulse 0.3s;
}
.link-copy {
	content: '最新上传';
	font-family: 'Roboto Condensed', sans-serif;
	text-transform: uppercase;
	letter-spacing: 3px;
	font-size: 1.25em;
	line-height: 1.75;
	font-weight: bold;
	color: currentColor;

	position: absolute;
	top: 2em;
	right: 2em;
	width: 50px;
	height: 50px;
	z-index: 100;
	cursor: pointer;
	background: url(../img/new.svg) no-repeat center center;
	background-size: cover;
}

.link-copy::after {
	content: '最新上传';
	font-family: 'Roboto Condensed', sans-serif;
	text-transform: uppercase;
	letter-spacing: 3px;
	font-size: 1.25em;
	line-height: 1.75;
	font-weight: bold;
	position: absolute;
	right: 100%;
	margin: 0 1em 0 0;
	white-space: nowrap;
	pointer-events: none;
	opacity: 1;
	color: currentColor;
	-webkit-transform: translate3d(10px, 0, 0);
	transform: translate3d(10px, 0, 0);
	-webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
	transition: transform 0.3s, opacity 0.3s;
}

.link-copy:hover::after {
	opacity: 1;
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}

.link-copy::before {
	content: '';
	position: absolute;
	top: 50%;
	left: 50%;
	width: 50px;
	height: 50px;
	margin: -25px 0 0 -25px;
	opacity: 0;
	border-radius: 50%;
	background: currentColor;
}

.link-copy--animate::before {
	-webkit-animation: pulse 0.3s;
	animation: pulse 0.3s;
}

@-webkit-keyframes pulse {
	from {
		opacity: 1;
		-webkit-transform: scale3d(0, 0, 1);
		transform: scale3d(0, 0, 1);
	}

	to {
		opacity: 0;
		-webkit-transform: scale3d(1, 1, 1);
		transform: scale3d(1, 1, 1);
	}

}

@keyframes pulse {
	from {
		opacity: 1;
		-webkit-transform: scale3d(0, 0, 1);
		transform: scale3d(0, 0, 1);
	}

	to {
		opacity: 0;
		transform: scale3d(1, 1, 1);
		webkit-transform: scale3d(1, 1, 1);
	}

}

/* Mockup Slider */
.mockup-slider {
	position: relative;
	width: calc(100% - 12em);
	margin: 0 0 0 0em;
	max-width: 800px;
}

.mockup-slider::before,
.mockup-slider::after {
	content: '';
	width: 100%;
	background: rgba(0,0,0,0.05);
	height: 100px;
	position: absolute;
	top: 0;
}

.mockup-slider::after {
	top: auto;
	bottom: 0;
}

.mockup-slider img {
	position: relative;
	display: block;
	max-width: 100%;
	margin: 0px 0;
	box-shadow: 0 10px 20px -4px rgba(0,0,0,0.6);
}

.mockup-slider__title {
	position: absolute;
	font-size: 3em;
	bottom: 30%;
	left: -0.5em;
	font-weight: normal;
	margin: 0;
}

.mockup-slider__subtitle {
	position: absolute;
	top: 70%;
	left: -1em;
	background: #1b3050;
	margin: 0;
	color: #fff;
	font-size: 1.05em;
	padding: 0.25em 0.5em;
	z-index: 100;
}
/* Individual section colors */

/* Xusni indicator颜色*/
.section#Xusni {
	 background: #86473F;
	 color: #86473F;
}



/* Meklit #86473F*/
.section#Meklit {
	background: #FCFAF2;
	color: #86473F;
	min-height: 510px;
}

.section#Meklit .mockup-slider {
	margin: 20 30 20 20em;
	min-height: 510px;
}


/* Kafa */
.section#Kafa {
	background: #D7B98E;
	color: #86473F;
}

/* Kafa */
.section#Totit {
	background: #3992fd;
	color: #fff;
}

/* Ayana */
.section#Ayana {
	background: #738aa0;
	color: #fffefd;
}

.bgcolor-1 { background: #f0efee; }
.bgcolor-2 { background: #f9f9f9; }
.bgcolor-3 { background: #e8e8e8; }/*light grey*/
.bgcolor-4 { background: #2f3238; color: #fff; }/*Dark grey*/
.bgcolor-5 { background: #df6659; color: #521e18; }/*pink1*/
.bgcolor-6 { background: #2fa8ec; }/*sky blue*/
.bgcolor-7 { background: #d0d6d6; }/*White tea*/
.bgcolor-8 { background: #3d4444; color: #fff; }/*Dark grey2*/
.bgcolor-9 { background: #ef3f52; color: #fff;}/*pink2*/
.bgcolor-10{ background: #64448f; color: #fff;}/*Violet*/
.bgcolor-11{ background: #3755ad; color: #fff;}/*dark blue*/
.bgcolor-12{ background: #3498DB; color: #fff;}/*light blue*/
.bgcolor-20{ background: #494A5F;color: #D5D6E2;}
/* Header */
.htmleaf-header{
	padding: 1em 190px 1em;
	letter-spacing: -1px;
	text-align: center;
	background: #66677c;
}
.htmleaf-header h1 {
	color: #D5D6E2;
	font-weight: 600;
	font-size: 2em;
	line-height: 1;
	margin-bottom: 0;
	font-family: "Microsoft YaHei","宋体","Segoe UI", "Lucida Grande", Helvetica, Arial,sans-serif, FreeSans, Arimo;
}
.htmleaf-header h1 span {
	font-family: "Microsoft YaHei","宋体","Segoe UI", "Lucida Grande", Helvetica, Arial,sans-serif, FreeSans, Arimo;
	display: block;
	font-size: 60%;
	font-weight: 400;
	padding: 0.8em 0 0.5em 0;
	color: #c3c8cd;
}
/*nav*/
.htmleaf-demo a{color: #fff;text-decoration: none;}
.htmleaf-demo{width: 100%;padding-bottom: 1.2em;}
.htmleaf-demo a{display: inline-block;margin: 0.5em;padding: 0.6em 1em;border: 3px solid #fff;font-weight: 700;}
.htmleaf-demo a:hover{opacity: 0.6;}
.htmleaf-demo a.current{background:#1d7db1;color: #fff; }
/* Top Navigation Style */
.htmleaf-links {
	position: relative;
	display: inline-block;
	white-space: nowrap;
	font-size: 1.5em;
	text-align: center;
}

.htmleaf-links::after {
	position: absolute;
	top: 0;
	left: 50%;
	margin-left: -1px;
	width: 2px;
	height: 100%;
	background: #dbdbdb;
	content: '';
	-webkit-transform: rotate3d(0,0,1,22.5deg);
	transform: rotate3d(0,0,1,22.5deg);
}

.htmleaf-icon {
	display: inline-block;
	margin: 0.5em;
	padding: 0em 0;
	width: 1.5em;
	text-decoration: none;
}

.htmleaf-icon span {
	display: none;
}

.htmleaf-icon:before {
	margin: 0 5px;
	text-transform: none;
	font-weight: normal;
	font-style: normal;
	font-variant: normal;
	font-family: 'icomoon';
	line-height: 1;
	speak: none;
	-webkit-font-smoothing: antialiased;
}
/* footer */
.htmleaf-footer{width: 100%;padding-top: 10px;}
.htmleaf-small{font-size: 0.8em;}
.center{text-align: center;}
/****/
.related {
	color: #fff;
	background: #494A5F;
	text-align: center;
	font-size: 1.25em;
	padding: 0.5em 0;
	overflow: hidden;
}

.related > a {
	vertical-align: top;
	width: calc(100% - 20px);
	max-width: 340px;
	display: inline-block;
	text-align: center;
	margin: 20px 10px;
	padding: 25px;
	font-family: "Microsoft YaHei","宋体","Segoe UI", "Lucida Grande", Helvetica, Arial,sans-serif, FreeSans, Arimo;
}
.related a {
	display: inline-block;
	text-align: left;
	margin: 20px auto;
	padding: 10px 20px;
	opacity: 0.8;
	-webkit-transition: opacity 0.3s;
	transition: opacity 0.3s;
	-webkit-backface-visibility: hidden;
}

.related a:hover,
.related a:active {
	opacity: 1;
}

.related a img {
	max-width: 100%;
	opacity: 0.8;
	border-radius: 4px;
}
.related a:hover img,
.related a:active img {
	opacity: 1;
}
.related h3{font-family: "Microsoft YaHei", sans-serif;font-size: 1.2em}
.related a h3 {
	font-size: 0.85em;
	font-weight: 300;
	margin-top: 0.15em;
	color: #fff;
}
/* icomoon */
.icon-htmleaf-home-outline:before {
	content: "\e5000";
}

.icon-htmleaf-arrow-forward-outline:before {
	content: "\e5001";
}

@media screen and (max-width: 50em) {
	.section.section--intro {
		font-size: 1em;
	}
	.section--nav {
		padding: 4em 0;
	}
	.section--nav::before {
		content: attr(id);
		position: absolute;
		top: 1em;
		right: 1em;
	}
	.mockup-slider {
		display: none;
	}
	.nav {
		-webkit-flex: none;
		flex: none;
		margin: 0 auto;
	}
	.nav.nav--berta {
		width: 100%;
	}
}
@media screen and (max-width: 1024px) {
	.htmleaf-header {
		padding: 2em 10% 2em;
	}
	.htmleaf-header h1 {
        font-size:1.4em;
    }
    .htmleaf-links{font-size: 1.4em}
}

@media screen and (max-width: 960px) {
	.htmleaf-header {
		padding: 2em 10% 2em;
	}
	.htmleaf-header h1 {
        font-size:1.2em;
    }
    .htmleaf-links{font-size: 1.2em}
    .related h3{font-size: 1em;}
	.related a h3 {
		font-size: 0.8em;
	}
}

@media screen and (max-width: 766px) {
	.htmleaf-header h1 {
        font-size:1.3em;
    }
    .htmleaf-links{font-size: 1.3em}
}

@media screen and (max-width: 640px) {
	.htmleaf-header {
		padding: 2em 10% 2em;
	}
	.htmleaf-header h1 {
        font-size:1em;
    }
    .htmleaf-links{font-size: 1em}
    .related h3{font-size: 0.8em;}
	.related a h3 {
		font-size: 0.6em;
	}
}