 <!DOCTYPE html>
  <html>
    <head>
      <!--Import Google Icon Font-->
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
      <!--Import materialize.css-->
      <link type="text/css" rel="stylesheet" href="{{ static_url('css/materialize.min.css') }}"  media="screen,projection"/>
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
      <!--字体-->
      <script type="text/javascript" src="http://cdn.webfont.youziku.com/wwwroot/js/wf/youziku.api.min.js"></script>
      <!--map-->
      <script type="text/javascript" src="http://api.map.baidu.com/api?v=1.4"></script>
<script type="text/javascript" src="http://api.map.baidu.com/library/Heatmap/2.0/src/Heatmap_min.js"></script>
     
     <style type="text/css">

#containermap{
height: 500px;
width: 100%;
}

#r-result {
width: 100%;
}
</style>
    </head>

    <body>
     <nav>
      <div class="nav-wrapper grey darken-3">
        <div class="col s8">
          <a href="／web/index" class="breadcrumb">详细信息</a>
          <!--此处有动态赋值-->
          <a href="#!" class="breadcrumb" id="bread2">Second</a>
         
        </div>
      </div>
    </nav>
   
      <div class="container">
        <!-- Page Content goes here -->
        <div class="row">
          <div class="col s5">
          <div class="chip">
            
            最新摄像头检测记录
          </div>
            <ul class="collapsible popout" id="vedio_detect" data-collapsible="accordion">
               <!--此处有动态赋值-->
               <!--里面的li元素是js动态初始化的-->
            </ul>
           <div class="row">
             
    
           </div>
           <div class="fixed-action-btn">
              <a class="btn-floating btn-large grey darken-4">
                <i class="large material-icons">menu</i>
              </a>
              <ul>
                <li><a class="btn-floating grey darken-4" href="#modal1" >结案</a></li>
                <li><a class="btn-floating red" href="machine-record.html">检测</a></li>
                <li><a class="btn-floating blue" href="user-detect.html">上传记录</a></li>
                
              </ul>
            </div>
             <!-- Modal Structure -->
            <div id="modal1" class="modal">
              <div class="modal-content">
                <h4>结案</h4>
                <p>您确定要将该小孩的档案结案吗?</p>
              </div>
              <div class="modal-footer">
                <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Agree</a>
              </div>
            </div>

            <div class="chip">

            
            最近用户上传记录
            </div>
             <ul class="collapsible popout" id="user_track" data-collapsible="accordion">
               <!--此处有动态赋值-->
                <!--里面的li元素是js动态初始化的-->
            </ul>
          </div>
          <div class="col s7">
          <!--card-->
          <div class="card">
        <div class="card-image">
          <!--此处有动态赋值-->
          <img id="i_image" class="materialboxed" data-caption="" width="250" src="">
          <span class="card-title"></span>
          
        </div>
        <div class="card-content">
          <!--此处有动态赋值-->
          <p id="i_description">走失详情描述：</p>
        </div>

        <div class="card-tabs">
      <ul class="tabs tabs-fixed-width">
        <li class="tab"><a href="#test4">走失信息</a></li>
        <li class="tab"><a class="active" href="#test5">家属信息</a></li>
        <li class="tab"><a href="#test6">最近更新</a></li>

      </ul>
    </div>

    <div class="card-content grey lighten-4">
      <div id="test4">
        <div class="card-content">
        <div class="row">
          <!--此处有动态赋值 p-->
          <div class="col s6"><p id="i_name">姓名:</p></div>
          <!--此处有动态赋值 p-->
          <div class="col s3"><p id="i_sex">性别:</p></div>
          <!--此处有动态赋值 p-->
          <div class="col s3"><p id="i_age">年龄:</p></div>
        </div>
        <div class="row">
        <!--此处有动态赋值 p-->
          <div class="col s6"><p id="i_missing_time">走失时间:</p></div>
          <!--此处有动态赋值 p-->
          <div class="col s6"><p id="i_missing_spot">走失地点:</p></div>
        </div>  
        </div>
      </div>
      <div id="test5">
         <div class="row">
         <!--此处有动态赋值 p-->
          <div class="col s6" ><p id="i_parent_name">家属姓名:</p></div>
          <!--此处有动态赋值 p-->
          <div class="col s6" ><p id="i_tel">家属联系方式:</p></div>
        </div>
      </div>

      <div id="test6">
         <div class="row">
         <!--此处有动态赋值 p-->
          <div class="col s6"><p id="i_update_time">最近更新时间:</p></div>
          <!--此处有动态赋值 p-->
          <div class="col s6"><p id="i_update_spot">最近更新地点:</p></div>
        </div>
      </div>

    </div>
      </div>
 <div id="containermap"></div>
          </div>

    </div>


      </div>

      <!--Import jQuery before materialize.js-->
      <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
      <script type="text/javascript" src="{{ static_url('js/materialize.min.js') }}"></script>
      <!--字体-->
       <script type="text/javascript">
    
    <!--timestamp translate-->
    function getLocalTime(nS) {     
       return new Date(parseInt(nS) * 1000).toLocaleString().replace(/:\d{1,2}$/,' ');     
    }   
     var id=window.location.search.slice(window.location.search.lastIndexOf("?")+11);
     console.log(id);
     //alert(id);

     //此处有动态赋值
     //todo ,you can delete jsoncallback
       $.getJSON("/get/persondetail/web?jsoncallback=?",{"person_id":id},function(result){
     var infor=result.data.person_info;
     var usertrack=result.data.person_track;
     var machinedetect=result.data.machine_track;
     var textuser='<li><div class="collapsible-header"> <span class="new badge blue" data-badge-caption="">94%</span><img margin="50px" width="120px" src="{{static_url('img/sample.jpg')}}" alt="" class="circle responsive-img materialboxed"><p></p></div><div class="collapsible-body"><span>上传描述</span></div></li>';
     var textvedio='<li><div class="collapsible-header"> <span class="new badge red" data-badge-caption="">94%</span><i class="material-icons">filter_drama</i><p></p></div><div class="collapsible-body"><span><img margin="50px" width="120px" src="{{static_url('img/sample.jpg')}}" class="circle responsive-img materialboxed">检测地点: </span></div></li>';
     var location=0;
    ////alert(usertrack.length+usertrack[0].description);
    //此处有动态赋值（js动态加载HTML元素）
    for(var i=0;i<(usertrack.length);i++){
       $("#user_track").append(textuser);
    }
    var length=10;
    if (length>machinedetect.length) {
      length=machinedetect.length;
    }
     for(var i=0;i<(length);i++){
       $("#vedio_detect").append(textvedio);
    }

    //alert(machinedetect.length);
        <!--initial information-->
        $("#i_description").append(infor.description);
        $("#i_image").attr('src',infor.picture_key_list[1]);

        $("#i_update_time").append(getLocalTime(infor.last_update_time));
        $("#i_name").append(infor.name);
        $("#bread2").text(infor.name);
      //  $("#i_sex").css("background-color","red");
        $("#i_sex").append(infor.sex);
        $("#i_age").append(infor.age);
        $("#i_parent_name").append(infor.relation_name);
        $("#i_tel").append(infor.relation_telephone);
        $("#i_missing_time").append(getLocalTime(infor.lost_time));

        var map = new BMap.Map("allmap");
        var point = new BMap.Point(infor.lost_spot[1],infor.lost_spot[0]);
        var gc = new BMap.Geocoder();
        gc.getLocation(point, function(rs){
           var addComp = rs.addressComponents;
           $("#i_missing_spot").append(addComp.province + " " + addComp.city + " " + addComp.district + " " + addComp.street + " " + addComp.streetNumber);
        }); 

        point = new BMap.Point(infor.last_update_spot[1],infor.last_update_spot[0]);
        
        gc.getLocation(point, function(rs){
           var addComp = rs.addressComponents;
           $("#i_update_spot").append(addComp.province + " " + addComp.city + " " + addComp.district + " " + addComp.street + " " + addComp.streetNumber);
        });
        
     <!--initi usertrack-->
      for(var i=0;i<usertrack.length;i++){
      var test=$("#user_track");
      jQuery.data(test,"datas",usertrack[i]);
     

        point = new BMap.Point(jQuery.data(test,"datas").coordinate[0]+","+jQuery.data(test,"datas").coordinate[1]);
        //alert("坐标:"+jQuery.data(test,"datas").coordinate[0]+","+jQuery.data(test,"datas").coordinate[1]);
        gc.getLocation(point, function(rs){
           var addComp = rs.addressComponents;
         location=addComp.province + " " + addComp.city + " " + addComp.district + " " + addComp.street + " " + addComp.streetNumber;
        });
        //alert(location);
      //有问题：地点转换失败
        $("#user_track li:eq("+i+") div p" ).append(getLocalTime(jQuery.data(test,"datas").date));
        $("#user_track li:eq("+i+") div.collapsible-header span").text("匹配率: "+jQuery.data(test,"datas").confidence+"%");
        $("#user_track li:eq("+i+") div img").attr('src',jQuery.data(test,"datas").pic_key); 
         $("#user_track li:eq("+i+") div p" ).append("地点: "+location);
        $("#user_track li:eq("+i+") div.collapsible-body span").text(jQuery.data(test,"datas").description);    
      }
      
      <!--initial vedio detect-->

    for(var i=0;i<machinedetect.length;i++){
      if (i>10) break;
      var test=$("#vedio_detect");
      jQuery.data(test,"datas",machinedetect[i]);
     
      
      $("#vedio_detect li:eq("+i+") div p" ).append(getLocalTime(jQuery.data(test,"datas").date));
      $("#vedio_detect li:eq("+i+") div.collapsible-header span").text("匹配率: "+jQuery.data(test,"datas").confidence+"%");
       $("#vedio_detect li:eq("+i+") div.collapsible-body span img").attr('src',jQuery.data(test,"datas").pic_key); 
      var map = new BMap.Map("allmap"+i);
      var point = new BMap.Point(jQuery.data(test,"datas").coordinate[0],jQuery.data(test,"datas").coordinate[1]);
      var gc = new BMap.Geocoder();
      gc.getLocation(point, function(rs){
         var addComp = rs.addressComponents;
         
          $("#vedio_detect li:eq("+i+") div p" ).append(addComp.province + " " + addComp.city + " " + addComp.district + " " + addComp.street + " " + addComp.streetNumber);
      });

    }
    
    
    
    <!--EOF-->
      });
   //load map
    var id2=window.location.search.slice(window.location.search.lastIndexOf("?")+11);
//todo delete jsoncallback
 $.getJSON("/get/trackinfo/web?jsoncallback=?",{"person_id":id2},function(resultMap){
  var mapdata=resultMap.data;

var map = new BMap.Map("containermap"); // 创建地图实例
var point = new BMap.Point(118.826293,31.893676);
map.centerAndZoom(point, 16); // 初始化地图，设置中心点坐标和地图级别
map.enableScrollWheelZoom(); 
var mappointx=[118.826293,118.826393,118.824293];
var mappointy=[31.897636,31.897633,31.897644];

console.log(id2);
console.log(mapdata[1].lat);
var points = [
{ "lng": 118.826293, "lat": 31.893676, "time": 100 },//西安
{ "lng": 118.829275, "lat": 31.896037, "time": 100 },//宝鸡
{ "lng": 118.826293, "lat": 31.893699, "time": 100 },//安康
];

for (var i = 0; i < mapdata.length; i++) {
var marker1 = new BMap.Marker(new BMap.Point(mapdata[i].lng,mapdata[i].lat)); // 创建标注
map.addOverlay(marker1); 
     var opts = {
      position : new BMap.Point(mapdata[i].lng,mapdata[i].lat),// 指定文本标注所在的地理位置
      offset   : new BMap.Size(0, 0)    //设置文本偏移量
    }

    var label = new BMap.Label(getLocalTime(mapdata[i].time), opts);  // 创建文本标注对象
        label.setStyle({
             color : "red",
             fontSize : "12px",
             height : "20px",
             lineHeight : "20px",
             fontFamily:"微软雅黑"
         });
    map.addOverlay(label);   
}
});
 
   <!--EOF-->

    //$("#user_track").append(text);
    $youziku.load("body", "2e8de98ad2c241aca7d97cfcdc313d61", "JetLinkMediumOldStamp");
    /*$youziku.load("#id1,.class1,h1", "2e8de98ad2c241aca7d97cfcdc313d61", "JetLinkMediumOldStamp");*/
    /*．．．*/
    $youziku.draw();

     $('.fixed-action-btn').openFAB();
  $('.fixed-action-btn').closeFAB();
  $('.fixed-action-btn.toolbar').openToolbar();
  $('.fixed-action-btn.toolbar').closeToolbar();

   $('.modal').modal({
      dismissible: true, // Modal can be dismissed by clicking outside of the modal
      opacity: .5, // Opacity of modal background
      inDuration: 300, // Transition in duration
      outDuration: 200, // Transition out duration
      startingTop: '4%', // Starting top style attribute
      endingTop: '10%', // Ending top style attribute
      ready: function(modal, trigger) { // Callback for Modal open. Modal and trigger parameters available.
        alert("Ready");
        console.log(modal, trigger);
      },
      complete: function() { alert('Closed'); } // Callback for Modal close
    }
  );
    
</script>

<script type="text/javascript">

</script>
<script type="text/javascript">
 
</script>
    </body>
  </html>
        