<!DOCTYPE html>
<html>
    
    <head>
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.bundle.js">
        <!--Import Google Icon Font-->
        <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <!--Import materialize.css-->
        <link type="text/css" rel="stylesheet" href="{{static_url('css/materialize.min.css')}}"
        media="screen,projection" />
        <!--Let browser know website is optimized for mobile-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0"
        />
        <script type="text/javascript" src="http://api.map.baidu.com/api?v=1.4">
        </script>
        <script type="text/javascript" src="http://api.map.baidu.com/library/Heatmap/2.0/src/Heatmap_min.js">
        </script>
        <style>
            #map{ height: 500px; width: 100%;margin: auto; padding:20px; } #canvas{
            margin-right: 30px; } .divide-graph{ margin-top: 10px; margin-bottom: 50px;
            }
        </style>
    </head>
    
    <body>
    <div class="row ">
        <div class="col s12 m13 navbar-fixed " style="margin-left: -12px;width: 1380px;">
            <nav>
    <div class="nav-wrapper blue-grey" style="margin: 0px;">
      <a href="#!" class="brand-logo"><i class="material-icons" style="margin-left: 10px;">cloud</i>CloudEye</a>
       <form style="width: 78%" class="right">
        <div class="input-field">
          <input id="search" type="search" required>
          <label class="label-icon" for="search"><i class="material-icons">search</i></label>
          <i class="material-icons">close</i>
        </div>
      </form>
      
    </div>
  </nav>
        </div>
    </div>
    
        <div id="container1" class="active">
            
            <!--sideNav-->
            <ul id="slide-out" class="side-nav fixed" style="margin-top: 64px;">
                <li>
                    <div class="userView">
                        <div class="background">
                            <img src="{{ static_url('img/bg3.jpg') }}" style="width: 450px">
                        </div>
                        <!-- Dropdown Trigger -->
                        <a class='dropdown-button btn' href='#' data-activates='dropdown1'>
                            选择城市
                        </a>
                        <!-- Dropdown Structure -->
                        <ul id='dropdown1' class='dropdown-content'>
                            <li>
                                <a href="#!" class="option-city">
                                    江苏
                                </a>
                            </li>
                            <li>
                                <a href="#!" class="option-city">
                                    上海
                                </a>
                            </li>
                            <li class="divider" class="option-city">
                            </li>
                            <li>
                                <a href="#!">
                                    广东
                                </a>
                            </li>
                        </ul>
                        <div class="row">
                            <form class="col s12">
                                <div class="switch ">
                                    <label>
                                       <!-- 自动定位：江宁区东南大学九龙湖校区-->
                                        <input type="checkbox">
                                        <span class="lever">
                                        </span>
                                    </label>
                                </div>
                            </form>
                        </div>
                        <a href="#!name">
                            <span class="white-text name">
                                区域：江苏
                            </span>
                        </a>
                        <a href="#!email">
                            <span class="white-text email">
                                
                            </span>
                        </a>
                    </div>
                </li>
                <li>
                    <a href="/web/file">
                        <i class="material-icons">
                            perm_contact_calendar
                        </i>
                        档案管理
                    </a>
                </li>
                <li>
                    <a href="#!">
                        <i class="material-icons">
                            map
                        </i>
                        工作台
                    </a>
                </li>
                <li>
                    <div class="divider">
                    </div>
                </li>
                <li>
                    <a class="subheader">
                        设置
                    </a>
                </li>
        
                 <li>
                    <a class="waves-effect" href="#!">
                        统计参数设置
                    </a>
                </li>
                 <li>
                    <a class="waves-effect" href="#!">
                        账户设置
                    </a>
                </li>
            </ul>
            <!--title-->
            <div class="row">
                <div class="col s12 m3">
                </div>
                <div class="col s12 m1" style="margin-top: 20px;">
                    <i class="small material-icons">
                        aspect_ratio
                    </i>
                </div>
                <div class="col s12 m2 ">
                    <h4>
                        最新上传
                    </h4>
                </div>
                <div class="divider col s12 m6">
                </div>
            </div>
            <!--card-->
            <div class="row">
                <div class="col s12 m3">
                </div>
                <div class="col s12 m4">
                    <div class="card update">
                        <div class="card-panel blue-grey lighten-1" style="height: 60px;">
                            
                            <span  class="white-text update-name" style="margin-top: -10px;">
                                李美玲有新消息
                            </span>
                            <span class="white-text update-source">
                                通过摄像头检测
                            </span>
                        </div>
                        <div class="card-image">
                            <div class="row">
                                <div class="col s12 m6">
                                    <img class="materialboxed update-std-pic" height="200px" src="{{ static_url('img/child3.jpg') }}">
                                </div>
                                <div class="col s12 m6">
                                    <img class="materialboxed update-track-pic" height="200px" src="{{ static_url('img/child4.jpg') }}">
                                </div>
                            </div>
                            <span class="card-title">
                                报案标准照片
                            </span>
                        </div>
                        <div class="card-content">
                            <p class="update-loc">
                                最新发现地点：xxx
                            </p>
                            <p class="update-time">
                                发现时间：2011年2月3日
                            </p>
                        </div>
                        <div class="card-action">
                            <a href="/web/details" class="update-details">
                                详情
                            </a>
                        </div>
                    </div>
                </div>
                <!--second-->
                <!--third-->
                <div class="col s12 m4">
                    <div class="card update">
                        <div class="card-panel blue-grey lighten-1" style="height: 60px;">
                           
                            <span class="white-text update-name">
                                李美玲有新消息
                            </span>
                             <span class="white-text update-source">
                                摄像头检测
                            </span>
                        </div>
                        <div class="card-image">
                            <div class="row">
                                <div class="col s12 m6">
                                    <img class="materialboxed update-std-pic" height="200px" src="{{ static_url('img/child3.jpg') }}">
                                </div>
                                <div class="col s12 m6">
                                    <img class="materialboxed update-track-pic" height="200px" src="{{ static_url('img/child3.jpg') }}">
                                </div>
                            </div>
                            <span class="card-title">
                                报案标准照片
                            </span>
                        </div>
                        <div class="card-content">
                            <p class="update-loc">
                                最新发现地点：xxx
                            </p>
                            <p class="update-time">
                                发现时间：2011年2月3日
                            </p>
                        </div>
                        <div class="card-action">
                            <a href="/web/details" class="update-details">
                                详情
                            </a>
                        </div>
                    </div>
                </div>
                <!--EOF-->
            </div>
        </div>
        <div class="row">
            <div class="col s12 m3">
            </div>
            <div class="col s12 m9 center">
                <ul class="pagination">
                    <li class="disabled">
                        <a href="#!">
                            <i class="material-icons">
                                chevron_left
                            </i>
                        </a>
                    </li>
                    <li class="active page-indicator blue-grey">
                        <a href="#!" class="">
                            1
                        </a>
                    </li>
                    <li class="waves-effect page-indicator">
                        <a href="#!" class="">
                            2
                        </a>
                    </li>
                    <li class="waves-effect page-indicator">
                        <a href="#!" class="">
                            3
                        </a>
                    </li>
                    <li class="waves-effect page-indicator">
                        <a href="#!" class="">
                            4
                        </a>
                    </li>
                    <li class="waves-effect page-indicator">
                        <a href="#!" class="">
                            5
                        </a>
                    </li>
                    <li class="waves-effect">
                        <a href="#!">
                            <i class="material-icons">
                                chevron_right
                            </i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <!--preload-->
        <div class="preloader-wrapper big ">
            <div class="spinner-layer spinner-blue-only">
                <div class="circle-clipper left">
                    <div class="circle">
                    </div>
                </div>
                <div class="gap-patch">
                    <div class="circle">
                    </div>
                </div>
                <div class="circle-clipper right">
                    <div class="circle">
                    </div>
                </div>
            </div>
        </div>
        <!--map-->
        <div class="row">
            <div class="col s12 m3">
            </div>
            <div class="col s12 m9 card teal darken+2">
                <p class="white-text">
                    数据统计分析
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col s12 m3">
            </div>
            <div class="col s12 m9">
                <div class="card grey darken-2">
                    <div class="card-content white-text">
                        <span class="card-title">
                            热力图
                        </span>
                        <p>
                        </p>
                        <p>
                            此热力图统计您管辖区域内一年中的案发地点分布，颜色越深表示案发越密集
                        </p>
                    </div>
                   
                </div>
                 <div id="map">
            </div>
          
        
        </div>
        <div class="row divide-graph">
            <div class="col s12 m3">
            </div>
            <div class="col s12 m8 divider">
            </div>
        </div>
        <div class="row">
            <div class="col s12 m3">
            </div>
            <div class="col s12 m2">
                <div class="card grey darken-2">
                    <div class="card-content  white-text">
                        <span class="card-title">
                           入库案件统计
                        </span>
                        <p>
                        此图统计您管辖区域内每月用户上传或警局备案入库的走失记录，蓝色为男性统计曲线，灰色为女性统计曲线
                        </p>
                        <p>
                            
                        </p>
                    </div>
                </div>
            </div>
            <div class="col s12 m7">
              <canvas class="card" id="canvas2" height="150">
                </canvas>
            </div>
        </div>
       
        <!--data analysis-->
        <div class="row">
            <div class="col s12 m5">
            </div>
            <!--
 <div class="col s12 m4">
                <canvas class="card" id="canvas" height="210">
                </canvas>
            </div>
            <div class="col s12 m1">
            </div>
            <div class="col s12 m4">
                <canvas class="card" id="canvas2" height="210">
                </canvas>
            </div>
            -->
           
        </div>
        <!--graph-->
        <div class="row divide-graph">
            <div class="col s12 m1">
            </div>
            <div class="col s12 m8 divider">
            </div>
        </div>
        <!--data analysis-->
        </div>
    </body>
    <!--Import jQuery before materialize.js-->
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js">
    </script>
    <script type="text/javascript" src="{{ static_url('js/materialize.min.js') }}">
    </script>
    <script type="text/javascript">
        // Initialize collapse button
        $('.button-collapse').sideNav({
            menuWidth: 280,
            // Default is 300
            edge: 'left',
            // Choose the horizontal origin
            closeOnClick: false,
            // Closes side-nav on <a> clicks, useful for Angular/Meteor
            draggable: true // Choose whether you can drag to open on touch screens
        });
        $('.button-collapse').sideNav('show');

        // Initialize collapsible (uncomment the line below if you use the dropdown variation)
        //$('.collapsible').collapsible();
        //set dropdown
        $('.dropdown-button').dropdown({
            inDuration: 300,
            outDuration: 225,
            constrainWidth: false,
            // Does not change width of dropdown to that of the activator
            hover: false,
            // Activate on hover
            gutter: 0,
            // Spacing from edge
            belowOrigin: false,
            // Displays dropdown below the button
            alignment: 'right',
            // Displays dropdown with edge aligned to the left of button
            stopPropagation: false // Stops event propagation
        });

        //load map
       $.getJSON("/get/alltrack/web?jsoncallback=?",{"spot":"[31.8,118.8]","range_longitude":10,"range_latitude":10},function(result2){
    var data2=result2.data.info;
 for (var i = data2.length - 1; i >= 0; i--) {
    data2[i].count=data2[i].count*100;
 }

var points = [
{ "lng": 118.826293, "lat": 31.893676, "count": 1 },//西安
{ "lng": 118.829275, "lat": 31.896037, "count": 1 },//宝鸡
{ "lng": 118.826293, "lat": 31.893699, "count": 1 },//安康
{ "lng": 118.826293, "lat": 31.893675, "count": 1},//汉中 
{ "lng": 118.826293, "lat": 31.893688, "count": 1 },//商洛 
{ "lng": 118.826293, "lat": 31.893679, "count": 1 },//延安 
{ "lng": 118.826293, "lat": 31.893679, "count": 1 },//铜川 
{ "lng": 118.826293, "lat": 31.893673, "count": 1 },//渭南 
{ "lng": 118.826293, "lat": 31.893671, "count": 1},//咸阳 
{ "lng": 118.826293, "lat": 31.893666, "count": 1000 },// 榆林 
];
var points2 = [
{ "lat": 31.875,"lng": 118.88,  "count": 100 },//西安
{ "lat": 31.89, "lng": 118.8, "count": 100 },//宝鸡
{"lat": 31.89,  "lng": 118.8, "count": 100 },//安康
{  "lat": 31.895, "lng": 118.8,"count": 100},//汉中 

];

console.log(data2[1].lat);
console.log(data2[1].lng);
console.log(data2[1].count);

var map = new BMap.Map("map"); // 创建地图实例
var point = new BMap.Point(118.826293,31.893676);
map.centerAndZoom(point, 14); // 初始化地图，设置中心点坐标和地图级别
map.enableScrollWheelZoom(); // 允许滚轮缩放

if (!isSupportCanvas()) {
alert('热力图目前只支持有canvas支持的浏览器,您所使用的浏览器不能使用热力图功能~')
}
//详细的参数,可以查看heatmap.js的文档 https://github.com/pa7/heatmap.js/blob/master/README.md
//参数说明如下:
/* visible 热力图是否显示,默认为true
* opacity 热力的透明度,1-100
* radius 势力图的每个点的半径大小 
* gradient {JSON} 热力图的渐变区间 . gradient如下所示
* {
.2:'rgb(0, 255, 255)',
.5:'rgb(0, 110, 255)',
.8:'rgb(100, 0, 255)'
}
其中 key 表示插值的位置, 0~1. 
value 为颜色值. 
*/
heatmapOverlay = new BMapLib.HeatmapOverlay({ "radius": 20 });
map.addOverlay(heatmapOverlay);
heatmapOverlay.setDataSet({ data: data2, max: 100 });
//是否显示热力图
function openHeatmap() {
heatmapOverlay.show();
}
function closeHeatmap() {
//heatmapOverlay.hide();
}
closeHeatmap();
function setGradient() {
var gradient = {};
var colors = document.querySelectorAll("input[type='color']");
colors = [].slice.call(colors, 0);
colors.forEach(function (ele) {
gradient[ele.getAttribute("data-key")] = ele.value;
});
heatmapOverlay.setOptions({ "gradient": gradient });
}
//判断浏览区是否支持canvas
function isSupportCanvas() {
var elem = document.createElement('canvas');
return !!(elem.getContext && elem.getContext('2d'));
}

});

    </script>
   <script type="text/javascript">
        //load update
        function getLocalTime(nS) {     
               return new Date(parseInt(nS) * 1000).toLocaleString().replace(/:\d{1,2}$/,'');     
            }   
            function load_update(page){
                //此处有动态赋值
                $.getJSON("http://139.196.207.155:9000/get/updatemessage?jsoncallback=?",{"spot":"[31.8,118.8]","max_distance":100.33,"page":0,"size":10},function(result){
                
                
                    if (result.code==0) {


        
                    <!--initial updates-->
                    var update=result.data.message_list;
                    
                    var test=$(".update");


                    jQuery.data(test[0],"datas",update[0]);
                    //alert(update[index].name);
                    //$(".update-case:eq("+0+") figcaption h2 i").css("background-color","red");
                    $(".update-name:eq(0)").text(update[2*page].name);
                
                    //standard profile
                    $(".update-details:eq("+0+")").attr('href',$(".update-details:eq("+0+")").attr('href')+"?person_id="+update[2*page].person_id);
                    var href = $(".update-details:eq("+0+")").attr("href");
                    console.log(href);
                    
                    //alert(jQuery.data(test,"datas").person_id+","+$(".update-case:eq("+0+") figcaption a").attr('href'));
                    
                    $(".update-std-pic:eq("+0+")").attr('src',update[2*page].std_pic_key);
                    
                    //$(".update-case:eq("+0+") figcaption h2 i").text(update[index].name);

                     //use map to decode location
                    var maphelper = new BMap.Map();
                    var point = new BMap.Point(update[2*page].spot[1],update[2*page].spot[0]);
                    var gc = new BMap.Geocoder();
                    gc.getLocation(point, function(rs){
                       var addComp = rs.addressComponents;
                       $(".update-loc:eq(0)").text("");
                       $(".update-loc:eq(0)").append("地点: "+addComp.province + " " + addComp.city + " " + addComp.district + " " + addComp.street + " " + addComp.streetNumber);
                    }); 

                    
                    if(update[2*page].pic_key!="empty")
                    {
                        $(".update-track-pic:eq("+0+")").attr('src',update[2*page].pic_key);
                         $(".update-track-pic:eq("+0+")").show();
                        $(".update-time:eq("+0+")").text(getLocalTime(update[2*page].date));
                        
                    }else{
                       $(".update-track-pic:eq("+0+")").hide();
                        
                        
                      $(".update-time:eq("+0+")").text("时间"+getLocalTime(update[2*page].date));
                    }
                    if (update[2*page].type==0) {
                        $(".update-source:eq(0)").text("有求助发布");
                    }else if(update[2*page].type==1){
                         $(".update-source:eq(0)").text("由摄像监控检测有新消息");
                    }else if(update[2*page].type==2){
                         $(".update-source:eq(0)").text("由用户跟拍上传有新的消息");
                    }else{
                         $(".update-source:eq(0)").text("由用户主动检索有新的消息");
                    }
                    //second
                  //  jQuery.data(test[1],"datas",update[2*page+1]);
                    //alert(update[index].name);
                    //$(".update-case:eq("+0+") figcaption h2 i").css("background-color","red");
                    $(".update-name:eq(1)").text(update[2*page+1].name);
                
                    //standard profile
                   
//                    .attr("href")
                    $(".update-details:eq("+1+")").attr("href",href);

                    console.log( $(".update-details:eq("+1+")").attr("href"));
                    // console.log(JSON.stringify(  $(".update-details:eq("+1+")").href));
                    
                    //alert(jQuery.data(test,"datas").person_id+","+$(".update-case:eq("+0+") figcaption a").attr('href'));
                    
                    $(".update-std-pic:eq("+1+")").attr('src',update[2*page+1].std_pic_key);
                    
                    //$(".update-case:eq("+0+") figcaption h2 i").text(update[index].name);

                     var point = new BMap.Point(update[2*page+1].spot[1],update[2*page+1].spot[0]);
                    var gc = new BMap.Geocoder();
                    gc.getLocation(point, function(rs){
                       var addComp = rs.addressComponents;
                       $(".update-loc:eq(1)").text("");
                       $(".update-loc:eq(1)").append("地点: "+addComp.province + " " + addComp.city + " " + addComp.district + " " + addComp.street + " " + addComp.streetNumber);
                    }); 
                    if(update[2*page+1].pic_key!="empty")
                    {
                        $(".update-track-pic:eq("+1+")").attr('src',update[2*page+1].pic_key);
                         $(".update-track-pic:eq("+1+")").show();
                        $(".update-time:eq("+1+")").text(getLocalTime(update[2*page+1].date));
                        
                    }else{
                        $(".update-track-pic:eq("+1+")").hide();
                        
                        
                            $(".update-time:eq("+1+")").text("时间"+getLocalTime(update[2*page+1].date));
                    }
                     if (update[2*page+1].type==0) {
                        $(".update-source:eq(1)").text("有求助发布");
                    }else if(update[2*page+1].type==1){
                         $(".update-source:eq(1)").text("由摄像监控检测有新消息");
                    }else if(update[2*page+1].type==2){
                         $(".update-source:eq(1)").text("由用户跟拍上传有新的消息");
                    }else{
                         $(".update-source:eq(1)").text("由用户主动检索有新的消息");
                    }
                    //eof
                  //  console.log(update[2*page].pic_key);
                    
                }
                
             }
            );
            };
        
    </script>
    <script src="{{ static_url('js/Chart.js') }}">
    </script>
    <script>
        //graph1
        var randomScalingFactor = function() {
            return Math.round(Math.random() * 10)
        };

        var barChartData = {
            labels: ["January", "February", "March", "April", "May", "June", "July"],
            datasets: [{
                fillColor: "rgba(220,220,220,0.5)",
                strokeColor: "rgba(220,220,220,0.8)",
                highlightFill: "rgba(220,220,220,0.75)",
                highlightStroke: "rgba(220,220,220,1)",
                data: [randomScalingFactor(), randomScalingFactor(), randomScalingFactor(), randomScalingFactor(), randomScalingFactor(), randomScalingFactor(), randomScalingFactor()]
            },
            {
                fillColor: "rgba(151,187,205,0.5)",
                strokeColor: "rgba(151,187,205,0.8)",
                highlightFill: "rgba(151,187,205,0.75)",
                highlightStroke: "rgba(151,187,205,1)",
                data: [randomScalingFactor(), randomScalingFactor(), randomScalingFactor(), randomScalingFactor(), randomScalingFactor(), randomScalingFactor(), randomScalingFactor()]
            }]

        }

        //graph2
        var randomScalingFactor = function() {
            return Math.round(Math.random() * 100)
        };
        var lineChartData = {
            labels: ["一月", "二月", "三月", "四月", "五月", "六月", "七月"],
            datasets: [{
                label: "My First dataset",
                fillColor: "rgba(220,220,220,0.2)",
                strokeColor: "rgba(220,220,220,1)",
                pointColor: "rgba(220,220,220,1)",
                pointStrokeColor: "#fff",
                pointHighlightFill: "#fff",
                pointHighlightStroke: "rgba(220,220,220,1)",
                data: [randomScalingFactor(), randomScalingFactor(), randomScalingFactor(), randomScalingFactor(), randomScalingFactor(), randomScalingFactor(), randomScalingFactor()]
            },
            {
                label: "My Second dataset",
                fillColor: "rgba(151,187,205,0.2)",
                strokeColor: "rgba(151,187,205,1)",
                pointColor: "rgba(151,187,205,1)",
                pointStrokeColor: "#fff",
                pointHighlightFill: "#fff",
                pointHighlightStroke: "rgba(151,187,205,1)",
                data: [randomScalingFactor(), randomScalingFactor(), randomScalingFactor(), randomScalingFactor(), randomScalingFactor(), randomScalingFactor(), randomScalingFactor()]
            }]

        }

        window.onload = function() {
           // var ctx = document.getElementById("canvas").getContext("2d");
            //window.myBar = new Chart(ctx).Bar(barChartData, {
            //    responsive: true
            //});
            var ctx2 = document.getElementById("canvas2").getContext("2d");
            window.myLine = new Chart(ctx2).Line(lineChartData, {
                responsive: true
            });
        }

        load_update(0);
    </script>
    <script type="text/javascript">
        //click function
        $(".page-indicator").click(function(){
            
            load_update($(this).find('a').text()-1);       
            $(".page-indicator").removeClass("active");
            $(".page-indicator").removeClass("blue-grey");
             $(this).addClass("active");
             $(this).addClass("blue-grey");

        });
    </script>
    <script type="text/javascript">
        $(".option-city").click(function(){

        });
        //weekly update
        window.setInterval(function(){
    
        //此处有动态赋值
     $.getJSON("/get/updatemessage?jsoncallback=?",{"spot":"[31.8,118.8]","max_distance":100.33,"page":0,"size":2},function(result){
         var update=result.data.message_list;
     var test=$(".update")[0];
    // alert(update[0].date);
     //alert(update[0].date+","+jQuery.data(test,"datas").date);

     console.log(JSON.stringify(result));
    // console.log(update[0].date);
     console.log(jQuery.data(test,"datas").date);
     //version2
     if(update[0].date>jQuery.data(test,"datas").date)
     {
        //flush data
        //alert("有"+update[0].name+"最新的上传记录");
        Materialize.toast("有"+update[0].name+"最新的上传记录", 4000)
        load_update(0);
         $(".page-indicator").removeClass("active");
         $(".page-indicator:eq(0)").addClass("active");
     }
        

     });
                //$(".update").removeClass("nav__item--current");
                //$("#update1").addClass("nav__item--current");
        
    
},3000);
    </script>
    </body>

</html>